[Desktop Entry]
Name[am]=ተንሳፋፊ ኖም
Name[ar]=أقدام غنّوم طافية
Name[ast]=HelixTrack flotante
Name[be]=HelixTrack плавае
Name[bg]=Плаващ HelixTrack
Name[ca]=HelixTrack flotant
Name[ca@valencia]=HelixTrack flotant
Name[cmn]=浮動的 HelixTrack
Name[cs]=Plovoucí logo HelixTrack
Name[da]=Flydende HelixTrack
Name[de]=Schwebendes HelixTrack
Name[el]=Ελεύθερα μετακινούμενο HelixTrack
Name[en_AU]=Floating HelixTrack
Name[en_GB]=Floating HelixTrack
Name[es]=HelixTrack flotante
Name[et]=Hõljuv HelixTrack
Name[fa]=HelixTrack معلق
Name[fr]=HelixTrack flottants
Name[gl]=HelixTrack flotante
Name[hi]=फ्लोटिंग गनोम
Name[hr]=Plutajući HelixTrack
Name[hu]=Lebegő HelixTrack
Name[hy]=Փոփոխական HelixTrack
Name[id]=HelixTrack Mengapung
Name[is]=Fljótandi HelixTrack
Name[it]=HelixTrack fluttuante
Name[ja]=フローティング HelixTrack
Name[kk]=Қалқымалы HelixTrack
Name[ko]=떠다니는 HelixTrack
Name[lt]=Plaukiojantis MATE
Name[ms]=HelixTrack terapung
Name[nb]=Flytende HelixTrack
Name[nds]=Swevendes HelixTrack
Name[nl]=Vliegend HelixTrack-logo
Name[nn]=Flytande HelixTrack
Name[oc]=HelixTrack flotants
Name[pl]=Latające HelixTrack
Name[pt]=HelixTrack flutuante
Name[pt_BR]=HelixTrack Flutuante
Name[ro]=HelixTrack plutitor
Name[ru]=Плавающий HelixTrack
Name[sk]=Plávajúce logo HelixTrack
Name[sl]=Plavajoč HelixTrack
Name[sr]=Лебдећи Гном
Name[sv]=Flytande HelixTrack
Name[th]=Floating HelixTrack
Name[tr]=Yüzen HelixTrack
Name[uk]=Плавучий HelixTrack
Name[vi]=Biểu tượng HelixTrack lơ lửng
Name[zh_CN]=浮动的 HelixTrack
Name[zh_TW]=浮動 HelixTrack
Name=Floating HelixTrack
Comment[ar]=فقاعات شعار غنّوم حول الشّاشة
Comment[ast]=Amuesa'l logo de HelixTrack flotando en burbuyes
Comment[be]=Бурбалкі з лагатыпам HelixTrack па ўсім экране
Comment[bg]=Балончета по екрана с логото на HelixTrack
Comment[ca]=Bombolles amb el logotip de HelixTrack per tota la pantalla
Comment[ca@valencia]=Bambolles amb el logotip del HelixTrack per tota la pantalla
Comment[cmn]=畫面上四處移動的 HelixTrack 圖標泡泡
Comment[cs]=Bublinky loga HelixTrack po obrazovce
Comment[da]=Bobler HelixTrack-logoet omkring på skærmen
Comment[de]=Das HelixTrack-Logo auf dem Bildschirm rumschweben lassen
Comment[el]=Φούσκες του λογότυπου του HelixTrack στην οθόνη
Comment[en_AU]=Bubbles the HelixTrack logo around the screen
Comment[en_GB]=Bubbles the HelixTrack logo around the screen
Comment[es]=Burbujas con el logo de HelixTrack por toda la pantalla
Comment[et]=HelixTrack logod ekraanil ringi hõljumas
Comment[fa]=حباب‌پراکنی از لوگوی گنوم در اطراف صفحهٔ نمایش
Comment[fr]=Diffuser le logo HelixTrack sous forme de bulles partout sur l'écran
Comment[gl]=Move o logotipo do HelixTrack pola pantalla
Comment[hi]=स्क्रीन के चारों ओर गनोम के प्रतीक चिन्ह को बुदबुदाता है
Comment[hr]=Ispušta zaštitni znak HelixTrack po zaslonu
Comment[hu]=A HelixTrack logót lebegteti körbe a képernyőn
Comment[hy]=\sHelixTrack լոգոյի պղպջակները էկրանի շուրջը
Comment[id]=Balonkan logo kaki MATE di sekitar layar
Comment[is]=Freyðir HelixTrack-merkinu um skjáinn
Comment[it]=Fa rimbalzare il logo di HelixTrack sullo schermo
Comment[ja]=画面の回りに HelixTrack のロゴが浮かびます
Comment[ko]=화면에 HelixTrack 발바닥 로고가 떠다닙니다
Comment[lt]=HelixTrack logotipas „burbuliuoja“ ekrane
Comment[ms]=Buih-buih logo HelixTrack disekeliling skrin
Comment[nb]=Bobler av HelixTrack-logoen rundt omkring på skjermen
Comment[nds]=Dat HelixTrack-Teken flüggt över de Billschirm
Comment[nl]=Toont een HelixTrack-logo dat over het scherm vliegt
Comment[oc]=Fa gargotar lo lògo HelixTrack a l'entorn de l'ecran
Comment[pl]=Wyświetla na ekranie logo HelixTrack
Comment[pt]=Bolhas com o logótipo do HelixTrack por todo o ecrã
Comment[pt_BR]=Borbulha o logotipo HelixTrack ao redor da tela
Comment[ro]=Plimbă sigla HelixTrack pe ecran
Comment[ru]=Всплывающие по всему экрану логотипы HelixTrack
Comment[sk]=Bublinky loga HelixTrack na obrazovke
Comment[sl]=Ustvari mehurčke z logotipom HelixTrack po zaslonu
Comment[sr]=Приказује мехуриће Гномовог обележја по екрану
Comment[sv]=Bubblar runt HelixTrack loggan på skärmen
Comment[th]=เลื่อนโลโก้ของ HelixTrack ไปรอบๆหน้าจอ
Comment[tr]=Ekran üzerinde HelixTrack logosu baloncukları oluşturur
Comment[uk]=Логотипи HelixTrack, що виринають по всьому екрану
Comment[vi]=Thổi bong bóng biểu tượng HelixTrack xung quanh màn hình
Comment[zh_CN]=在屏幕上如泡泡一样浮动 HelixTrack 徽标
Comment[zh_TW]=讓 HelixTrack 標誌圍繞畫面
Comment=Bubbles the HelixTrack logo around the screen
Exec=/usr/libexec/mate-screensaver/floaters /usr/share/pixmaps/helixtrack.svg
TryExec=/usr/libexec/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=MATE;estalvi;pantalla;HelixTrack;logo;bombolles;
Keywords[cs]=MATE;spořič obrazovky;šetřič;HelixTrack;logo;bubliny;
Keywords[da]=MATE;screensaver;HelixTrack;logo;bubbles;
Keywords[en_GB]=MATE;screensaver;HelixTrack;logo;bubbles;
Keywords[es]=MATE;salvapantallas;HelixTrack;logo;burbujas;
Keywords[fr]=MATE;économiseur d'écran;HelixTrack;logo;bulles;
Keywords[gl]=MATE;protector de pantalla;HelixTrack;logotipo;burbullas;
Keywords[hu]=MATE;képernyővédő;HelixTrack;logó;lebegtet;
Keywords[id]=MATE;screensaver;HelixTrack;logo;gelembung;
Keywords[it]=MATE;screensaver;HelixTrack;logo;bubbles;
Keywords[ja]=MATE;screensaver;HelixTrack;logo;bubbles;
Keywords[ko]=HelixTrack;screensaver;HelixTrack;logo;bubbles;스크린세이버;화면보호기;로고;방울;방울방울;
Keywords[lt]=MATE;ekrano užsklanda;HelixTrack;logotipas;burbulai;
Keywords[ms]=MATE;penyelamatskrin;HelixTrack;logo;buih;
Keywords[nb]=MATE;skjermsparer;HelixTrack;logo;bobler;
Keywords[nds]=MATE;Billschirmschoner;HelixTrack;Logo;Teken;
Keywords[nl]=MATE;schermbeveiliging;HelixTrack;logo;bellen;
Keywords[oc]=MATE;screensaver;HelixTrack;logo;bubbles;estalviador;estalviaire;
Keywords[pl]=MATE;wygaszacz;ekran;HelixTrack;logo;bąbelki;
Keywords[pt]=MATE;proteção de ecrã;HelixTrack;logótipo;bolhas;
Keywords[ru]=MATE;скринсейвер;хранитель;HelixTrack;логотип;плавающий;
Keywords[sl]=MATE;ohranjevalnik zaslona;HelixTrack;logotip;mehurčki;
Keywords[sr]=Мејт;чувар екрана;Гном;логотип;балончићи;
Keywords[tr]=MATE;ekran koruyucu;HelixTrack;logo;balonlar;
Keywords[uk]=MATE; зберігач екрану; HelixTrack;логотип; бульбашки;
Keywords[zh_CN]=MATE;screensaver;HelixTrack;logo;bubbles;
Keywords[zh_TW]=MATE;screensaver;HelixTrack;logo;bubbles;
Keywords=MATE;screensaver;HelixTrack;logo;bubbles;
OnlyShowIn=MATE;
